<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <h1>Python Pizzas</h1>
        <h3>Mama Mia that'sa gooda pizza</h3>
    </header>
    <main>
        <h1>Order List</h1>
        <ul>
            {% for order in orders %}
            <li>
                <p><a href= http://localhost:4999/orders/{{loop.index0}}>{{ order.customer_name }}</a></p>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>

</html>